{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags i18n static getattribute %}

{% block site_title %}{{ page.title }} | astroEDU {% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.summary }}" />
{% image page.image fill-200x500 as im %}
<meta property="og:image" content="{{ SITE_URL }}{{ im }}" />
{% endblock %}

{% block content %}

<h1>{{page.title}}</h1>

{{page.content}}

{% endblock %}
