Django==4.2
uwsgi==2.0.26
wagtail==6.0.6
markdown
beautifulsoup4==4.8.2
wagtail-localize==1.9
psycopg2==2.9.10
dj-database-url==0.5.0 #1.0.0
whitenoise==5.2.0
django-storages>=1.13
boto3==1.16.4
WeasyPrint==52.5
django-weasyprint==1.1.0
django-storage-url==0.9.0
django-countries==7.5.1
django-taggit==4.0
wagtail-modeladmin==2.0.0