Django>=5.2,<5.3
wagtail>=7.0,<7.1

dj-database-url==2.3
psycopg[binary]>=3.2,<3.3
django-storages>=1.14
boto3>=1.38

markdown
beautifulsoup4
wagtail-localize
whitenoise
WeasyPrint==52.5
django-weasyprint==1.1.0
django-storage-url
django-countries
django-taggit
wagtail-modeladmin