{% load static wagtailuserbar  wagtailcore_tags  i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-54MRK817B7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-54MRK817B7');
  </script>
  <!-- Google tag (gtag.js) This is the old analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44947668-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-44947668-1');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="astroEDU is an open-access peer-review platform for educators to discover, review, distribute, improve, and remix the best astronomy education activities around the world.">
  <link rel=apple-touch-icon href="{% static 'favicons/apple-touch-icon.png'%}" />
  <link rel="shortcut icon" type=image/png href="{% static 'favicons/icon-hires.png'%}" />
  <link rel="shortcut icon" type=image/png href="{% static 'favicons/icon-normal.png'%}" />
  <title>{% block site_title %}astroEDU{% endblock %}</title>

  <link href="{% static 'css/fonts.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{% static 'css/astroedu-styles.css' %}" rel="stylesheet" />
  {% block extra_head %}{% endblock %}
</head>
<body>
{% wagtailuserbar %}
<div id="cookie-policy">
	<div class="layout_container">
		<span class="close-btn"><img src="{% static 'designimages/icon_close.png' %}" alt="Close"></span>
		<p>{% translate "This site uses cookies to offer you a better browsing experience." %} <a href="" title="">{% translate "Read about how we use cookies." %}</a></p>
	</div>
</div>
<div id="page-wrapper">

<header class="ae-header">
{% block top %}
  <div class="container">

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{% static 'designimages/astroedu_logo.png' %}" class="logo" alt="astroEDU Logo" />  
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
  
      <div class="navbar-end">

        <div class="navbar-item top_volunteer">
          <a href="/volunteer" target="_blank" class="button is-ghost is-large">
          <span class="icon is-large">
  					<img src="{% static 'designimages/volunteer_badge_sq.png' %}" alt="{% translate "apply as volunteer"%}" title="{% translate "Join us" %}: {% translate "Volunteer"%}!" />
          </span>
          <span class="nav_volunteer">
            {% translate "Join us" %}<br/>
            <strong>{% translate "Volunteer"%}</strong>
          </span>
  				</a>
        </div>
        <div class="navbar-item">
          <div class="top_search">{% include 'search_form.html' %} </div>
        </div>
        <div class="navbar-item mobile_menu_item">
          <a href="">{% translate "Volunteer"%}</a>
        </div>
        <div class="navbar-item mobile_menu_item">
          <a  href="">{% translate "Search"%}</a>
        </div>
        {% if  page.get_translations.live %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
          <span class="icon is-large">
            <i class="fa-solid fa-2x fa-language"></i>
          </span>
          </a>
          <div class="navbar-dropdown">
            {% if page %}
                {% for translation in page.get_translations.live %}
                    {% get_language_info for translation.locale.language_code as lang %}
                    <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}" class="navbar-item">
                      {% translate lang.name %}
                    </a>
                {% endfor %}
            {% else %}
            {% get_available_languages as LANGUAGES %}
              {% for lang in LANGUAGES %}
                   <a class="navbar-item" href="/{{lang.0}}/">
                     {{lang.1}}
                   </a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endif %}
    </div>
  </nav>

</div>
{% endblock %}
</header>

{% block fullcontent %}
<section class="section">
  <div class="container">
{% block content %}{% endblock %}
  </div>
</section>
{% endblock %}

	<section class="section layout_resources">
		<div class="container">
      <div class="columns is-variable is-8">
			<div class="column is-one-third bigicon">
				<a href="/{{LANGUAGE_CODE}}/collections/">
          <figure class="image section_feature px-6 pb-4">
					<img src="{% static 'designimages/bigicon_collections.png' %}" alt="{% translate "Activity Collections" %}" />
        </figure>
				</a>
        <a href="/{{LANGUAGE_CODE}}/collections/" class="button py-2 is-fullwidth is-rounded yellow-bg grey"><strong>{% translate "Activity Collections" %}</strong></a>
			</div>

			<div class="column is-one-third bigicon">
				<a href="/{{LANGUAGE_CODE}}/activities/">
          <figure class="image section_feature px-6 pb-4">
					<img src="{% static 'designimages/bigicon_activities.png' %}" alt="{% translate "See All Activities" %}"/>
        </figure>
				</a>
        <a href="/{{LANGUAGE_CODE}}/activities/" class="button py-2 is-fullwidth is-rounded yellow-bg grey"><strong>{% translate "See All Activities" %}</strong></a>
			</div>

			<div class="column is-one-third bigicon">
				<a href="/{{LANGUAGE_CODE}}/submission/">
          <figure class="image section_feature px-6 pb-4">
					<img src="{% static 'designimages/bigicon_submit.png' %}" alt="{% translate "Submit Your Activities" %}" />
        </figure>
				</a>
        <a href="/{{LANGUAGE_CODE}}/submission/" class="button py-2 is-fullwidth is-rounded yellow-bg grey"><strong>{% translate "Submit Your Activities" %}</strong></a>

			</div>

			</div>

		</div>
	</section>

	<footer class="footer">
		<div class="container">
      <div class="columns">
    		<div class="column is-one-third">

    			<div class="footer_nav">
    				<ul class="unbulleted">
    					<li><a href="/{{LANGUAGE_CODE}}/submission/">{% translate "Submission" %}</a></li>
    					<li><a href="/{{LANGUAGE_CODE}}/peer-review/">{% translate "Peer Review" %}</a></li>
    					<li><a href="/{{LANGUAGE_CODE}}/ebl/">{% translate "Enquiry Based Learning" %}</a></li>
    					<li><a href="/{{LANGUAGE_CODE}}/faq/">{% translate "FAQ" %}</a></li>
    				</ul>
    			</div>
    			<div class="footer_nav">
    				<ul class="unbulleted">
    					<li><a href="/{{LANGUAGE_CODE}}/about/">{% translate "About" %}</a></li>
    					<li><a href="/en/brochure/">{% translate "Brochure" %}</a></li>
              <li><a href="/{{LANGUAGE_CODE}}/workflow/">{% translate "Workflow" %}</a></li>
    					<li><a href="/{{LANGUAGE_CODE}}/news/">{% translate "News" %}</a></li>
    					<li><a href="/{{LANGUAGE_CODE}}/contact/">{% translate "Contact" %}</a></li>
              <li><a href="{% url 'orglist' %}">{% translate "Partners" %}</a></li>
    				</ul>
    			</div>
        </div>

        <div class="column">
    			<a href="https://www.facebook.com/iauastroedu"><img src="{% static 'designimages/sections-orange/social_facebook.svg' %}" alt="astroEDU on Facebook" /></a>
    			&nbsp;
    			<a href="https://twitter.com/IAUastroEDU"><img src="{% static 'designimages/sections-orange/social_twitter.svg' %}" alt="astroEDU on Twitter" /></a>
    		</div>

		<div class="column is-half">
			<div class="sponsors">
					<div><a href="https://www.iau.org" title="IAU" target="_blank"><img src="{% static 'designimages/sponsors/iau_logo.png' %}" alt="sponsor: IAU" /></a></div>
          <div><a href="https://www.astro4edu.org" title="IAU OAE" target="_blank"><img src="{% static 'designimages/sponsors/OAE_logo_astroedu.png' %}" alt="sponsor: IAU Office of Astronomy Education" /></a></div>
          <div><a href="http://www.inaf.it/" title="INAF" target="_blank"><img style="width:190px;height:auto;" src="{% static 'designimages/sponsors/INAF_logo_2023.png' %}" alt="sponsor: INAF" /></a></div>
					{% if LANGUAGE_CODE == 'en' %}
					<div><a href="https://lco.global/" title="LCO" target="_blank"><img style="width:80px;height:auto;" src="{% static 'designimages/sponsors/lco_logo.png' %}" alt="sponsor: LCO" /></a></div>
					{% endif %}
					{% if LANGUAGE_CODE == 'it' %}
					<div><a href="http://www.sait.it/" title="SAI" target="_blank"><img style="width:80px;height:auto;" src="{% static 'designimages/sponsors/sai_logo.png' %}" alt="sponsor: SAI" /></a></div>
					{% endif %}
			</div>
		</div>

    </div>
	</div>
</footer>
</div>

<script type="text/javascript"  src="{% static 'js/jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/astroedu_wagtail.js' %}"></script>
<script type="application/javascript">
	var searchSuggestions = {
        strings: ["{% translate "Find Educational Activities" %}", "{% translate "Black holes" %}", "{% translate "Galaxies" %}", "{% translate "Drawing" %}", "{% translate "Primary School" %}"],
	    typeSpeed: 10,
	    backSpeed: -50,
	    loop: true,
	    showCursor: false,
	    backDelay: 3000
    }

document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
{% block extra_script %}{% endblock %}
</body>
</html>
