/* astroEDU styles by @goodthngs for goodthingseverywhere.com 10/2014 / Original styles by https://github.com/bruno-rino / Leiden */

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamBold.e1e9415f1498.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamBold.e1e9415f1498.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamBold.3a968a8c0aa9.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamBold.94195072d6ff.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamBold.20d147eececc.svg#4b05af1f343b473876284bf412b923ab") format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamBold-Italic.ca987d51f597.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamBold-Italic.ca987d51f597.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamBold-Italic.ef64323360b0.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamBold-Italic.fec7c549c0c1.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamBold-Italic.700e31583ee0.svg#bb194a57758ada0a8b047fc8c3107b1c") format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  900;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamBook.b18afbcbc7b0.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamBook.b18afbcbc7b0.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamBook.b2bde63bdb3f.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamBook.e1696693f244.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamBook.b08e0229b0ca.svg#65526539dec42e535893223c14767f58") format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamBook-Italic.587d39299d73.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamBook-Italic.587d39299d73.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamBook-Italic.77e4b728b07b.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamBook-Italic.d833bc364abe.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamBook-Italic.4662faff389e.svg#9374ccf478135e3fa918b68162615601") format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamLight.6e4d824d3e62.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamLight.6e4d824d3e62.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamLight.cbf3c9073f7d.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamLight.e9d98066f29a.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamLight.d145727e63c4.svg#0fdc6c734a7ca54436fb28af9ab2f202") format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamLight-Italic.838d56938070.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamLight-Italic.838d56938070.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamLight-Italic.db44f9e59d98.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamLight-Italic.4fef365a714a.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamLight-Italic.730310457835.svg#7c7b7df3fe0d875efbd8eb215c876786") format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamMedium.c93fdbd2e652.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamMedium.c93fdbd2e652.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamMedium.03d59bd0989d.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamMedium.550019c323cf.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamMedium.5b0e25a3552b.svg#0fbe3a09622d8fb1f474f00917396ba1") format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-web/GothamMedium-Italic.211179afabf3.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gotham-web/GothamMedium-Italic.211179afabf3.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/gotham-web/GothamMedium-Italic.3dca11fa3783.woff") format('woff'), /* Modern Browsers */
       url("../fonts/gotham-web/GothamMedium-Italic.92c3fc19f63e.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/gotham-web/GothamMedium-Italic.8bacfffa9241.svg#7bdc30b0fe874bdf7aea16ca74c4a8fd") format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

