{% load static %}
{% load i18n  wagtailcore_tags%}

	{% if content %}
	<div class="section {{code}}">
		<div class="title">
      <div class="icon-text">
        <span class="icon is-large">
          <img src="{% static 'designimages/sections-orange/'|add:code|add:'.svg' %}" alt="" />
        </span>
        <span class="title_text">{% translate text %}</span>
      </div>
      <div class="text">
      {% if stream %}
        {% for block in content %}
          {% if block.block_type == 'richtext' %}
            {{ block.value|richtext }}
          {% elif block.block_type == 'htmltext'%}
            {{ block.value}}
          {% else %}
              {{ block.value }}
          {% endif %}
        {% endfor %}
      {% else %}
        {{content|richtext}}
      {% endif %}
      </div>
		</div>
	</div>
	<div class="clear"></div>
	{% endif %}
