{% load static wagtailcore_tags wagtailimages_tags i18n astroedu_extras %}
	<div class="column featured_item">
		<!-- <div class="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div> -->
		<div class="title"><a href="{% url 'activitydetail' object.code object.slug %}">{{ object.title }}</a></div>
		<div class="metadata">
			{% translate "Date" %}: <b>{{ object.first_published_at|date:"Y-m-d" }}</b>
			<!-- <img src="{% static 'designimages/metaseparator.png' %}"/></a> --><br/>
			{% translate "By" %}:  <b>{{ object.author_list }}</b>
		</div>
		<div class="picture">
      <a href="{% url 'activitydetail' object.code object.slug %}">
        <figure class="image">
          {% image object.image fill-320x200 %}
        </figure>
      </a>
    </div>

		<div class="description"><p>{{ object.teaser }}</p></div>
		<div class="metadata_bottom">

			<div class="col">
				<div class="caption">{% translate "Theme" %}</div>
				<div class="value">{{ object.theme }}</div>
			</div>

			<div class="col">
				<div class="caption">{% translate "Age" %}</div>
				<div class="value">{{ object.age|beautify_ages }}</div>
			</div>

			<div class="activity-link">
				<a href="{% url 'activitydetail' object.code object.slug %}">
					<img src="{% static 'designimages/arrow_next.svg' %}" alt="View activity" />
				</a>
			</div>
		</div>

	</div>
