{% extends 'base.html' %}
{% load i18n %}


{% block content %}

<h1>{{page.title}}</h1> 

{% if facets %}
<h2>
{% for code, value in facets.items %}
    {% if value.selected %}
        {% translate value.name %}: {% translate value.selected %}
    {% endif %}
{% endfor %}
</h2>
{% endif %}
<div class="columns">
    <div class="column is-three-quarters">
        <div class="columns">
        {% if activities %}
            <div class="archives_list columns is-multiline">
                {% for object in activities %}
                {% if object.live or request.user.is_authenticated %}
                <div class="column is-one-third">
                    {% include 'activities/activity_list_item.html' %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>{% translate "No activities are available." %}</p>
        {% endif %}
        </div>
    </div>
    <div class="column">
    {% for code, facet in facets.items %}
    {% if facet.name != 'Keywords' %}
    <div class="section_meta">
        <div class="section_meta_inner">
        <div class="facet">
            <div class="title_text">{% translate facet.name %}</div>
            <ul class="content unbulleted">
            {% for option in facet.all %}
                <li><a href="?{{code}}={{option.name}}">{% translate option.name %}</a></li>
                {% endfor %}
            </ul>
        </div>
        </div> 
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}
