<!DOCTYPE html>{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="astroEDU is an open-access peer-review platform for educators to discover, review, distribute, improve, and remix the best astronomy education activities around the world.">
<link rel="search" type="application/opensearchdescription+xml" href="/opensearch_desc.xml" title="astroEDU">
<title>{% block site_title %}astroEDU{% endblock %}</title>

<link href="{% static 'css/print.css' %}" rel="stylesheet" />
<link href="{% static 'css/fonts.css' %}" rel="stylesheet" />


<link href='https://fonts.googleapis.com/css?family=Bowlby+One+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:300&subset=latin,greek,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">


</head>
<body>


<div id="frontpage">
      <img src="{% static 'designimages/astroEDU_pdf_cover.png' %}"/>
        <h1 class="title_text">{{ page.title }}</h1>

        <h2 class="orange title_text">{{ page.teaser }}</h2>
      	<div class="authors"><strong>{% trans 'Author' %}:</strong> {{ page.author_list }}</div>
</div>

  <div class="row">
{% if page.image %}
  {% image page.image max-600x400 class="main_visual" %}
{% endif %}


<div class="grid-wrapper">
  <div class="section_meta">
    <div class="section_meta_inner">
    <div class="meta">
      <div class="icon"><img src="{% static 'designimages/sections-grey/keywords.svg' %}" alt="" /></div>
      <div class="title_text">{% trans 'Keywords' %}</div>
    </div>
    <div class="content">{{ page.keywords_joined }}</div>
  </div>
</div>
{% for section in meta %}
  {% include 'activities/partials/activity_detail_section_meta.html' with code=section.code text=section.text content=section.content %}
{% endfor %}
</div>

<div class="maincontent">
  {% for section in page.sections %}
  {% include 'activities/partials/activity_detail_section.html' with code=section.code text=section.text content=section.content stream=section.stream %}
  {% endfor %}
</div>

<div class="layout_rightcolumn">


		{% if page.attachment_list or page.languageattachment_list %}
		<div class="section grey">
			<div class="title_text">{% trans "Attachments" %}</div>
            {% if page.attachment_list %}
            <ul>
                {% for attachment in page.attachment_list %}
                    <li><a href="{{ attachment.file.url }}" target="_blank">{{ attachment.display_name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.languageattachment_list %}
              <ul>
                {% for attachment in page.languageattachment_list %}
                    <li><a href="{{ attachment.file.url }}" target="_blank">{{ attachment.display_name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}

    {% if page.attachment_list|length > 1 or page.languageattachment_list|length > 1 %}
        <div class="title_text">{% trans "All Attachments" %}</div>
        <a href="{% url 'activities:detail-code' code=page.code %}?format=zip">All attachments</a>
    {% endif %}

		</div>
		{% endif %}


<div class="row">
		<div class="section grey">
			<div class="title_text">{% trans "Citation" %}</div>
			<div class="text">
				{{page.citable_author_list}}, {{page.release_date|date:"Y"}}, <em>{{page.title}}</em>, <a href="{{page.get_absolute_url}}">astroEDU, {{page.code}}</a>{% if page.doi %} <a href="http://dx.doi.org/{{page.doi}}"> doi:{{page.doi}}</a>{% endif %}
			</div>
		</div>
</div>
<div class="row">
		{% if page.acknowledgement %}
		<div class="section orange">
			<div class="title_text">{% trans "Acknowledgement" %}</div>
			<div class="text">
				{{page.acknowledgement}}
			</div>
		</div>
		{% endif %}

	</div>
</div>


</body>
</html>
