{% extends 'base.html' %}
{% load i18n %}


{% block content %}

<h1>{{page.id}}</h1>

<div class="columns">
{% if object_list %}
    <div class="archives_list columns is-multiline">
        {% for object in object_list %}
        {% if object.live or request.user.is_authenticated %}
        <div class="column is-one-third">
        	{% include 'activities/activity_list_item.html' %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>No activities are available.</p>
{% endif %}
  <!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div> -->

<!-- div class="column">
  <div class="section_meta">
    <div class="section_meta_inner">
      <div class="facet">
          <div class="title_text">{% trans 'Level' %}</div>
          {% for option in levels %}
          <div class="content">
              <span class="facet_option" ><a href="?level={{option.code}}">{% trans option.title %}</a></span>
          </div>
          {% endfor %}
      </div>
      <div style="clear: both"></div>
  </div></div>
</div>
</div -->

</div>

{% endblock %}
