{% extends 'base.html' %}

{% load i18n static %}

{% block site_title %}{{ page.title }} | astroEDU {% endblock %}

{% block content %}
<div class="layout_content">
	<div class="layout_container collection_detail">

		<div class="layout_leftcolumn">
			<h1>{{ page.title }}</h1>
			<div class="summary">{{ page.description }}</div>
      <div class="columns is-multiline">
			{% for object in page.activity_pages.all %}
        <div class="column is-half">
          {{object.specific.title}}
				{% include 'activities/activity_list_item.html' with object=object.activity %}
        </div>
			{% endfor %}
      </div>

	</div>


	</div>
</div>
{% endblock content %}
