{% extends 'base.html' %}
{% load i18n wagtailcore_tags %}

{% block site_title %}{% trans "Partners" %} | astroEDU {% endblock %}

{% block content %}

      <div class="container">
          <h2>{% trans "Partners" %}</h2>
          <div class="intro">{{ page.intro|richtext }}</div>
          <div class="columns is-multiline">
            {% for object in object_list %}
              {% include 'activities/organization_list_item.html' %}
            {% endfor %}

          </div>
        </div>

{% endblock %}
