{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% comment %}<!--
page.object_list = [activity1, ... ]
page.has_previous
page.has_next
page.previous_page_number
page.next_page_number
-->{% endcomment %}


{% block site_title %} {% trans 'Search results' %} | astroEDU {% endblock %}

{% block content %}
    <h1>Search</h1>

    <form action="{% url 'search' %}" method="get">
        <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" name="q"{% if search_query %} value="{{ search_query }}"{% endif %}>
        </div>
        <div class="control">
          <a class="button">
            Search
          </a>
        </div>
      </div>
    </form>

      <div class="archives_list columns is-multiline">
    {% for result in search_results %}
      <div class="column is-one-third">
        {% include 'activities/activity_list_item.html' with object=result %}
      </div>
    {% empty %}
        <p class="notfound"><img src="{% static 'designimages/search_notfound.svg' %}" alt="" /> {% trans 'No results found!' %}</p>
    {% endfor %}
    </div>
     {% if search_results.has_previous or search_results.has_next %}
        <div>
            {% if search_results.has_previous %}<a href="?q={{ query }}&amp;search_results={{ search_results.previous_search_results_number }}">{% endif %}&laquo; Previous{% if search_results.has_previous %}</a>{% endif %}
            |
            {% if search_results.has_next %}<a href="?q={{ query }}&amp;search_results={{ search_results.next_search_results_number }}">{% endif %}Next &raquo;{% if search_results.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block extra_script %}
<script>

function submit_search() {
    // remove unused facets
    $('#search_form input').each(function(){
        if ($(this).val() == '') {
            // var id = $(this).attr('id');
            // console.log(id);
            $(this).remove();
        }
    });
    $('#search_form').submit();
}
function unsetfacet(name, value) {
    // unset value for facet
    $('#id_'+name).val('');
    submit_search();
}
function setfacet(name, value) {
    // set value for facet
    $('#id_'+name).val(value);
    submit_search();
}
</script>
{% endblock %}
